.App {
  text-align: center;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bg-dark {
  background-color: black !important;
  z-index: 100 !important;
}

ol.carousel-indicators {
  display: none !important;
}
