.App {
  text-align: center;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bg-dark {
  background-color: black !important;
  z-index: 100 !important;
}

ol.carousel-indicators {
  display: none !important;
}

ul li {
  list-style: none;
}

.step-header {
  background-color: black !important;
}

.video-react-poster {
  max-height: 500px;
}
.video-react-video {
  max-height: 500px;
}

div.video-react-controls-enabled {
  padding-top: 500px !important;
}
